@import "../../../../styles/colors.module.scss";

.footer {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.logoFooter {
  width: 220px;
}

.footerLink {
  font-size: 16px;
  text-decoration: underline;
  color: $mediumGrey;
  transition: 0.3s;

  &:hover {
    color: $lightGrey;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 26px;
  }
}

@media (max-width: 391px) {
  .footer {
    justify-content: center;
  }
}
