* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #151515;
  min-height: 100vh;
  color: white;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #151515;
}

::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 40px;
}

// input:-webkit-autofill,
// input:-webkit-autofill:focus {
//   -webkit-box-shadow: 0 0 0px 1000px  inset;
// }

input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  transition: background-color 600000s 0s, color 600000s 0s;
}
